body{
    background: rgb(251,249,250);
background: linear-gradient(90deg, rgba(251,249,250,1) 0%, rgba(244,196,222,1) 42%, rgba(230,160,201,1) 100%); 
}


img{
    margin: 10px;
    padding-left: 18px;
    height: 150px;
    width: 170px;
}
.fa {
padding-left: 80px;
position: relative;
display: inline-block;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu {
background:#D4EFDF;
border-right:1px solid #e5e5e5;
position:absolute;
top:0;
bottom:0;
height:100%;
left:-20px;
width:200px;
box-shadow:0 10px 20px 0 rgba(0, 0, 0, 0.40);
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
padding: 10px;
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:inline-block;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  }

.main-menu .nav-text {
padding-top: 5px;
margin:20px; 
position:relative;
display:inline-block;
text-align: center;
width:190px;
font-family: 'Titillium Web', sans-serif;
}


nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}


video {
  margin-top: 180px;
  margin-left: 280px;
  width: 50%;
  height: auto;
  box-shadow:0 10px 20px 0 rgba(0, 0, 0, 0.60);
}